
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_396225_pivw00ou7iafw29.eot?t=1503646963109'); /* IE9*/
  src: url('//at.alicdn.com/t/font_396225_pivw00ou7iafw29.eot?t=1503646963109#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_396225_pivw00ou7iafw29.woff?t=1503646963109') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_396225_pivw00ou7iafw29.ttf?t=1503646963109') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_396225_pivw00ou7iafw29.svg?t=1503646963109#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menuon:before { content: "\e6f1"; }

.icon-mine_fill:before { content: "\e70e"; }

.icon-unfold:before { content: "\e749"; }

.icon-menuon1:before { content: "\e600"; }

